*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Open Sans", sans-serif;
}
.img-background{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./realEstate-img/highlight.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
    transition: background-image 2s ease-in-out;
}
.text-over-image{
    text-align: center;
    color: white;
    font-size: 1.5em;
    background-color: black;

}
.img-background:hover{
    background-image: url(./realEstate-img/highlight2.jpg);
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
a:hover{
    color: black;
    background-color: white;
}
.main-container{
    padding: 5% 20%;
    display: flex;
}
.claim{
    line-height: 2;
    padding: 20px 0 20px;
} 
.transition{ 
    font-size: 2em;
    text-align: center;
    padding-top: 2%;
}
footer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    height: 100px;
    margin-top: 60px;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
span{
    text-decoration: underline;
    font-weight: bold;
}
.text-container{
    
    display: flex;
}
.text-container p:first-of-type{
    margin-right: 20px;
}
.icons-container i{
    border: 1px solid rgb(175, 174, 174);
    border-radius: 50%;
    padding: 10px;
}