*{
    margin: 0;
    padding: 0;
}
html{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
a{
    padding: 0 10px 5px 10px;
    color: white;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/*Utilities*/
.title{
    text-align: center;
    padding: 25px 0 25px;
}
.img-header{
    font-size: 1.7em;
    background-size: cover;
    background-position: bottom center;
    height: 40vh;
    line-height: 2;
    color: white;
    text-align: center;
    background-image: url(./realEstate-img/header.jpg);
}
/* Flex */
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1.5vh;
}
.flex-item{
    line-height: 2;
    padding-top: 65px;
    text-align: center;
}
/*Housing section*/
.money{
    color: green;
    font-size: 2vh;
}
.house-item{
    background-color: #dedede;
    margin-right: 10px;
    border: 2px solid grey;
}
.house-item-img img{
    width: 100%;
    height: auto;
}
.house-img{
    width: 250px;
}
.house-item-text{
    background-color: #dedede;
}
.btn{
    display:block;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.flex-list{
    display: flex;
    flex-direction: row; 
}
.flex-li{
    padding: 10px;
    display: flex;
    justify-content: center;
}